.logo-icon {
    width: 40%;
    margin: 0 auto;
}

.version {
    font-size: 10px;
}
.flex-container {
    display: flex;
    justify-content: space-between; 
}
.flex {
    opacity: 1;
    transition: opacity 0.2 ease-in-out;
    margin: 2px 3px;
    text-align: justify;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.modal-content {
    border-style: none;
    margin: 3px;
    text-align: center;
}

.container-fluid {
    padding: 5px 5px;
}
